@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.5px;
}
body{
    background-color: #121111;
    width: 100%;
    height: 100vh;

}
h1{
    text-align: center;
    font-variant: small-caps;
    margin: 16px 0px;
}
/** ESTILIZACAO DA DIV COM A CLASS MAIN_CONTEINER */
.main_conteiner{
    max-width: 800px;
    border: 1px solid #272727;
    border-radius: 10px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/** ESTILIZACAO DA DIV COM A CLASS CONTEINER_CONTENT */
.conteiner_content{
    border: 1px solid #272727;
    border-radius: 10px;
    min-width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    row-gap: 10px;
}
/** ESTILIZACAO DAS DIVS COM A CLASS ITEM */
.item{
    border: 5px solid #745b4d;
    padding: 16px;
    border-radius: 10px;
    width: 90%;
    text-align: center;
    background-color: #ccc;
    color: #121111;
    font-size: 16px;
    font-weight: 700;
    transition: all .2s;
}
.item:hover{
    cursor: pointer;
    background-color: #b8b8b8;

}
/** ESTILIZACAO Do BUTTON */
.conteiner_btn button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0px;
    padding: 16px;
    width: 100px;
    border: none;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: #2a2929;
    border-radius: 10px;
    background-color: tomato;
    cursor: pointer;
    transition: all .2s;
}
.conteiner_btn button:hover{
    background-color: rgb(248, 115, 91);

}
/** CLASS ACTIVE */
.item_ativo{
    background-color: darkred !important;
    color: #fff !important;
    border: 5px solid rgb(168, 41, 41) !important;
}
