@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ccc;
    font-family: "Montserrat", sans-serif;
}
body{
    background-color: #121111;

}
h1{
    text-align: center;
    font-variant: small-caps;
    margin-top: 16px;
}